body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
.nop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nop input {
    width:30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nop p {
    font-size: 6vw;
    margin: 10px 0;
}
.nop button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    font-size: 20px;
}
#main_menu_btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ff0099;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}